/*

!.gitignore
!.gitattributes

!MainCodeFiles/
!From_ZED_to_2D\Develop_programs\Race_simulator_V3.py


*.json
.vscode/
Hog/Cones_Positive
Hog/Cones_Negative
preproccesing/test
preproccesing/ZED_color_video_Run_1.avi
processing_ZED/ZED_color_video_Run_1.avi
processing_ZED/vores
YOLOv8/
Videos/
Images/
fsoco_bounding_boxes_train/
runs/
runs/
Videos/
Images/OwnData/
Images/ConeSlices
YOLOv5/
PathPlannerIgnore/

#Exampel code from ZED SDK
Exampel_code/
#Recordings
Recordings_folder/
ZED_Photos/

#test file (dont work, but usfull to have)
Recording_ZED.py
Test_moving_points_plt_animation.py


#Remove ground from pointcloud
Depth_remove_ground/



