*.json
.vscode/

#Exampel code from ZED SDK
Exampel_code/
#Recordings
Recordings_folder/
ZED_Photos/

#test file (dont work, but usfull to have)
Recording_ZED.py
Test_moving_points_plt_animation.py


#Remove ground from pointcloud
Depth_remove_ground/


